.ms-debug-header {
    background-color: white;
    flex-shrink: 0;
    height: 80px;
}

aside {
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
    background-size: auto; 
    overflow: hidden;
}

main {
    background-color: aqua;
    height: calc(100vh - 80px);
    flex: 1;
    overflow-y: auto;
}

.ms-content-main {
    overflow: hidden;
}

.ms-left {
    margin-left: 140px;
}

.ms-aside {
    width: 140px;
    flex-shrink: 0;
}

.ms-list-icon ul {
    display: flex;
}

.ms-text-orange {
    color: #ff8f00;
}

.ms-text-icon {
    color: #5b5959;
}

.ms-color-src {
    background-color: #e5e5e5;
}

.list-group-item:hover {
    background:rgba(255,255,255, 0.4);
}

.ms-blue-boolean {
    background-color: #1b72e8;
    height: 112px;
}

.ms-bg-secondary {
    background-color: rgba(0,0,0, 0.2);
}

.ms-start-card {
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
}

.ms-w-icon {
    width: 30px;
}

.ms-w-10 {
    width: 25px;
}

.ms-fs {
    font-size: 13px;
}

.ms-w {
    width: 10%;
}

.ms-w-20 {
    width: 20%;
}