.ms-debug-header {
    background-color: white;
}

aside {
    background-color: #051e34;
    background-image: url(./img/sidebar-bg.png);
    background-size: auto;
}

.ms-content {
    overflow: auto;
}

.ms-container-main {
    height: calc(100vh- 80px);
    background-color: aqua;
    width: calc(100vw - 80px);
}

.ms-aside {
    width: 140px;
    height: calc(100vh - 80px);
}

.ms-list-icon ul {
    display: flex;
}

.ms-text-orange {
    color: #ff8f00;
}

.ms-text-icon {
    color: #5b5959;
}

.ms-color-src {
    background-color: #e5e5e5;
}

.list-group-item:hover {
    background:rgba(255,255,255, 0.4);
}

.ms-blue-boolean {
    background-color: #1b72e8;
}

.ms-bg-secondary {
    background-color: rgba(0,0,0, 0.2);
}

.ms-start-card {
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
}